@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
 @apply cursor-pointer
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}

.animate-blink {
  animation: blink 4s infinite;
}

.animation-delay-200 {
  animation-delay: 0.2s;
}

.animation-delay-400 {
  animation-delay: 0.4s;
}

@keyframes fly {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  25% {
    transform: translate(20px, -40px);
  }
  50% {
    transform: translate(-20px, -80px);
  }
  75% {
    transform: translate(10px, -120px);
  }
  100% {
    transform: translate(0, -150px);
    opacity: 0;
  }
}

.animate-fly {
  animation: fly 2s ease-in-out forwards;
}

@keyframes genreColors {
  0% {
    background-color: #d1fce1; /* green-500 */
  }
  100% {
    background-color: #fef9c2; /* yellow-400 */
  }
}

.genre-animate {
  animation: genreColors 2s infinite alternate;
}


/* hier hast du das outline vom text*/

.outlineText {
-webkit-text-stroke: 4px red;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}